@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

.grid-item {
  text-align: center;
  margin : 25px;
}

body {
  background-image: url("images/sunset.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Shrikhand', cursive;
}

.select {
  margin: 5px;
  text-align: center;
  color: orange;
  cursor: pointer;
  border: 2px solid;
  border-color: orange;
  font-size: 20px;
  font-family: 'Shrikhand', cursive;
}

.select:hover {
  background: orange;
  color: white;
}

.search {
  margin: 10px;
  border: 2px solid;
  border-color: orange;
  color: orange;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 255px;
  left: 940px;
  font-family: 'Shrikhand', cursive;
}

.search:hover {
  background: orange;
  color: white;
}

.welcome {
  text-align: center;
  font-size: 70px;
  color: #5a73e9;
}

.depature {
  font-size: 28px;
  color: #ce2029;
  position: absolute;
  top: 215px;
  left: 690px;
}

.dep {
  position: absolute;
  top: 280px;
  left: 680px;
}

.or {
  position: absolute;
  top: 280px;
  left: 325px;
}

.des {
  position: absolute;
  top: 280px;
  left: 500px;
}

.hell {
  font-size: 60px;
  color: orange;
  position: absolute;
  top: 570px;
  left: 200px;
}

span {
  color: #ce2029;
}

.result {
  color: #5a73e9;
  font-size: 30px;
}

.date {
  position: absolute;
  top: 300px;
  left: 550px;
  font-size: 30px;
}

.dateresult {
  position: absolute;
  top: 340px;
  left: 650px;
  color: #ce2029;
}

.flight {
  position: absolute;
  top: 350px;
  left: 550px;
  font-size: 30px;
}

.flightresult {
  position: absolute;
  top: 350px;
  left: 650px;
}

.depart {
  position: absolute;
  top: 400px;
  left: 550px;
  font-size: 30px;
}

.departresult {
  position: absolute;
  top: 443px;
  left: 835px;
  color: #ce2029;
}

.arrive {
  position: absolute;
  top: 450px;
  left: 550px;
  font-size: 30px;
}

.arriveresult {
  position: absolute;
  top: 492px;
  left: 745px;
  color: #ce2029;
}

a {
  position: absolute;
  top: 40px;
  left: 160px;
  color: #ce2029;
}
